#css{
    color: blue ;
    text-align: center;
    
}
.logo{
    text-align: center
}
.quote{
    text-align: center
}

#accordion{
    text-align:center;
}
@media{ 
    h1{
        font-size: 80px
    }
}
#copyright{
    text-align: center
}